<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jdd.com.ng.jddwebmaster.jddstore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jdd_store_launcher_svg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_jdd_store_launcher_svg_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JDDStore">
        <activity
            android:name=".code.ui.activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".code.ui.activities.AddAndEditAddressListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.AddressListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.CartListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.ProductDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.SettingsActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".code.ui.fragment.WebViewActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".code.ui.fragment.ChatActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".code.ui.activities.DashboardActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.UserProfileCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".code.ui.activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>